#page-knowledge-base {
  // page kb-character-wrapper bg
  .page-kb-character-wrapper {
    position: relative;
    background: rgba(var(--v-theme-on-surface), var(--v-hover-opacity));
    block-size: 12.5rem;
    padding-block-start: 1.438rem;

    .v-image {
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
    }
  }

  // category
  .page-kbc-title {
    background: rgba(var(--v-theme-on-surface), var(--v-hover-opacity));
  }
}
